<footer>
  <mat-toolbar color="primary" style="height: 100%;" fxLayout="row wrap" fxLayoutAlign="start stretch">
    <div fxFlex="100%" fxFlex.gt-sm="30%" style="margin-bottom: 1.5rem;">
      <div fxLayout="row" fxFlexAlign="start center" style="margin-bottom: 0.5rem;">
        <img src="assets/icons/planet.png" alt="logo" width="10%" height="auto" style="margin-right: 0.5rem;">
        <h2 class="mat-title" style="font-family: 'Bai Jamjuree', sans-serif;"><b>Space Phone</b></h2>
      </div>
      <p class="footer-text">
        Space Phone is a pioneering smartphone store dedicated to bringing the latest and greatest in mobile technology
        to consumers everywhere. Our mission is to make cutting-edge smartphones available to everyone.
      </p>
    </div>
    <div fxFlex="50%" fxFlex.gt-sm="20%" fxFlexOffset.gt-sm="10%">
      <h5>Legal</h5>
      <p>Terms & Conditions</p>
      <p>Privacy Policy</p>
      <p>Cookies Policy</p>
    </div>
    <div fxFlex="50%" fxFlex.gt-sm="20%">
      <h5>Help</h5>
      <p>Shipping and Delivery</p>
      <p>Returns Policy</p>
      <p>Security and Payment</p>
      <p>FAQs</p>
    </div>
    <div fxFlex="50%" fxFlex.gt-sm="20%">
      <h5>Contact Us</h5>
      <p><mat-icon>home</mat-icon> New York, NY 10012, US</p>
      <p><mat-icon>email</mat-icon> info&#64;gmail.com</p>
      <p><mat-icon>phone</mat-icon> + 01 234 567 88</p>
      <p><mat-icon>fax</mat-icon> + 01 234 567 89</p>
    </div>

    <div class="divider"></div>

    <div fxLayout="row wrap" fxLayoutAlign="space-between center" style="width: 100%;">
      <p class="footer-text">Copyright © 2023-2024 Space Store. All rights reserved.</p>
      <div>
        <a href="https://facebook.com">
          <i class="fa-brands fa-facebook fa-lg socialmedia" style="margin: 0.5rem;"></i>
        </a>
        <a href="https://x.com"> 
          <i class="fa-brands fa-twitter fa-lg socialmedia" style="margin: 0.5rem;"></i>
        </a>
        <a href="https://instagram.com">
          <i class="fa-brands fa-instagram fa-lg socialmedia" style="margin: 0.5rem;"></i>
        </a>
        <a href="https://whatsapp.com">
          <i class="fa-brands fa-whatsapp fa-lg socialmedia" style="margin: 0.5rem; margin-right: 0;"></i>
        </a>
      </div>
    </div>
  </mat-toolbar>
</footer>