<!--JUMBOTRON-->
<div class="jumbotron" fxLayout="column" fxLayoutAlign="center center"
style="background-image: url('./assets/images/background.jfif');">
  <h1 class="title">Welcome to Space Phone</h1>
  <h3 class="subtitle">Your Gateway to the Future of Mobile Technology</h3>
  <button mat-flat-button class="button-title">Shop Now</button>
</div>



<!--BENEFITS BAR-->
<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center" class="benefits-bar">
  <div fxLayoutAlign="center center" class="element">
    <img src="assets/icons/free-delivery.png" alt="free delivery" width="15%" height="auto">
    <div>
      <h4 class="mat-h2"><b>Free Shipping</b></h4>
      <p class="mat-body-1">For orders over $50</p>
    </div>
  </div>

  <div fxLayoutAlign="center center" class="element">
    <img src="assets/icons/discount-voucher.png" alt="discount voucher" width="11%" height="auto">
    <div>
      <h4 class="mat-h2"><b>Official Discounts</b></h4>
      <p class="mat-body-1">Save Big on next product</p>
    </div>
  </div>

  <div fxLayoutAlign="center center" class="element">
    <img src="assets/icons/helpline.png" alt="helpline" width="11%" height="auto">
    <div>
      <h4 class="mat-h2"><b>24/7 Helpline</b></h4>
      <p class="mat-body-1">Care till the end</p>
    </div>
  </div>
</div>



<!--main content-->
<div fxLayout="column" fxLayout.gt-sm="row">
  <!--SALES-->
  <div fxFlex="100%" fxFlex.gt-sm="30%" class="part">
    <div fxLayoutAlign="start center">
      <img src="assets/icons/planet-outline.png" alt="logo outline" width="45px" height="auto" style="margin: 10px;">
      <h3 class="mat-h1"><b>Currently on Sale</b></h3>
    </div>

    <mat-divider style="margin-bottom: 1rem;"></mat-divider>

    <mat-card style="margin: 1rem;">
      <img src="assets/images/sales-img.png" alt="sales image">
      <mat-card-header>
        <mat-card-title>Black Friday Sale</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Get up to 30% off on selected models. Don't miss out!</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="accent" style="width: 100%;">SHOP NOW</button>
      </mat-card-actions>
    </mat-card>

    <!--test google ads here-->

  </div>

  <!--BEST SELLERS & NEW ARRIVAL-->
  <div fxFlex="100%" fxFlex.gt-sm="70%" class="part">
    <div fxLayoutAlign="start center">
      <img src="assets/icons/planet-outline.png" alt="logo outline" width="45px" height="auto" style="margin: 10px;">
      <h3 class="mat-h1"><b>Best Sellers</b></h3>
    </div>
  
    <mat-divider style="margin-bottom: 1rem;"></mat-divider>
  
    <div fxLayout="row wrap" fxLayoutAlign="start start">
      <mat-card fxFlex="45%" fxFlex.gt-sm="31%" style="margin: 0.5rem;" class="center">
      <img src="assets/images/honor-x9b.png" alt="honor x9b" width="100%">
      <mat-card-header>
        <mat-card-title style="text-align: center;">Honor X9b</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button color="primary" class="price"><b>350.00$</b></button>
      </mat-card-actions>
      </mat-card>
      <mat-card fxFlex="45%" fxFlex.gt-sm="31%" style="margin: 0.5rem;" class="center">
        <img src="assets/images/iphone16.png" alt="iphone 16" width="100%">
        <mat-card-header>
          <mat-card-title style="text-align: center;">iPhone 16 Pro</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button color="primary" class="price"><b>980.00$</b></button>
        </mat-card-actions>
        </mat-card>
    </div>
    
    <div fxLayoutAlign="start center">
      <img src="assets/icons/planet-outline.png" alt="logo outline" width="45px" height="auto" style="margin: 10px;">
      <h3 class="mat-h1"><b>New Arrival</b></h3>
    </div>
  
    <mat-divider style="margin-bottom: 1rem;"></mat-divider>
  
    <div fxLayout="row wrap" fxLayoutAlign="start start">
      <mat-card fxFlex="46%" fxFlex.gt-sm="31%" style="margin: 0.5rem;" class="center">
      <img src="assets/images/iphone16.png" alt="iphone 16" width="100%">
      <mat-card-header>
        <mat-card-title style="text-align: center;">iPhone 16 Pro</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button color="primary" class="price"><b>980.00$</b></button>
      </mat-card-actions>
      </mat-card>
    </div>

  </div>
  
</div>